/* About Page */

.about .row-1{
  display: flex;
  flex-wrap: wrap;
  background-color: var(--wheatcolor);
  padding: 1rem;
  border-radius: 2rem;
}

.about .row-1 .image-about{
  flex: 1 1 25rem;
  order: 1;
}

.about .row-1 .image-about .self{
  width: 100%;
  height: 60rem;
  object-fit: cover;
  overflow: hidden;
  object-position: top;
  border-radius: .5rem;
  border: 1rem solid white;
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.about .row-1 .content{
  flex: 1 1 15rem;
}

.about .row-1 .content h3{
  color: var(--hcolor);
  font-size: 3.5rem;
}

.about .row-1 .content p{
  color: var(--pcolor);
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

.about .row-1 .content .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.8rem;
  padding: 0.5rem 0;
}

.about .row-1 .content .box-container .box{
  flex: 1 1 20rem;
}

.about .row-1 .content .box-container .box span{
  color: var(--spanfontcolor);
}

.about .row-1 .content .box-container .box .btn{
  margin: 1rem 1rem;
}

.about .skills{
  align-items: center;
  font-size: 3.5rem;
  color: var(--hcolor);
  text-transform: uppercase;

}
.about .skills span{
  color:var(--semicolor);
  text-transform: uppercase;
}

.about .row-2{
  display: flex;
  flex: 1 1 20rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-top: 2rem;
 
}


.about .row-2 .box-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  padding:1rem 1rem;
  justify-content: space-around;
  align-items: center;
  background-color: var(--wheatcolor);
  border-radius: 2rem;
  width: 100%;
  height: 100%;
}

.about .row-2 .box-container .card{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 35rem;
  width: 30rem;
  background-color: var(--white);
}

.about .row-2 .box-container .card .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.about .row-2 .box-container .card .box p{
  color: var(--pcolor);
  font-size: 2.2rem;
}


.about .row-3{
  display: flex;
  flex-wrap: wrap;
  background-color: var(--wheatcolor);
  padding: 1rem;
  border-radius: 2rem;
}